/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
#testoAlternato {
  margin: 0;
  height: 50vh;

  border: 5px solid rgb(121, 121, 121);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    color:rgb(83, 83, 83) ;
}
.parole {
    position: relative;
    display: inline;
    padding-left: 10px;
    vertical-align: baseline;
    height: 1em;
    line-height: 1.2em;
}
.parole i {
    position: absolute;
    opacity: 0;
    animation: waterfall 6s infinite ease-in-out;
    color: rgb(125, 175, 175);
}

.parole i:nth-child(1) {
  animation-delay: 0s;
}
.parole i:nth-child(2) {
  animation-delay: 2s;
}
.parole i:nth-child(3) {
  animation-delay: 4s;
}
@keyframes waterfall {
  0% {
    top: -100%;
    opacity: 0;
  }
  10% {
    top: 0;
    opacity: 1;
  }
  30% {
    top: 0;
    opacity: 1;
  }
  40% {
    top: 100%;
    opacity: 0;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}